{% extends 'blog/base.html' %}

{% block content %}

<div class="visi-misi">
    <h2>Visi dan Misi Program Studi <br>
        Visi Keilmuan Program Studi Pendidikan Bahasa dan Sastra Indonesia
    </h2>

    <p>Mengembangkan Pendidikan Bahasa dan Sastra Indonesia yang <strong>adaptif-transformatif, secara saintifik dan profetik</strong> berlandaskan linguistik sistemik
        fungsional dan estetika sastra untuk menghasilkan lulusan yang memiliki kecakapan hidup abad 21.
    </p>

    {% load static %}
    <img src="{% static 'img/visi-misi.jpeg' %}" alt="visimisi">

    <h2>Visi Keilmuan Program Studi PBSI FKIP UMS</h2>

    <p>Visi Program Studi Pendidikan Bahasa dan Sastra Indonesia, FKIP, UMS adalah, <strong>“Mengembangkan pendidikan bahasa dan sastra Indonesia yang adaptif-transformatif, secara saintifik dan profetik berlandaskan linguistik sistemik fungsional dan estetika sastra untuk menghasilkan lulusan yang memiliki kecakapan hidup abad 21”.</strong> <br>
        Visi PBSI itu memiliki makna berikut: <br>
        <ol>
            <li>Mengembangkan pendidikan bahasa dan sastra Indonesia yang <strong>adaptif-transformatif.</strong> Pendidikan adaptif-transformatif merupakan pendidikan yang selalu diselaraskan dengan perkembangan mutakhir dari teori, konsep, dan metodologis maupun segi pendekatan, metode, dan media pembelajarannya <br></li>
            <li>Mengembangkan pendidikan bahasa dan sastra Indonesia secara <strong>saintifik,</strong> yakni pembelajarannya dimulai dengan mengumpulkan data (mengamati), melakukan eksperimen, menanyakan, mengolah informasi, dan mengomunikasikan hasilnya dengan menerapkan kaidah keilmuan. <br></li>
            <li>Menyelenggarakan pendidikan Bahasa dan sastra Indonesia secara <strong>profetik,</strong> yakni penyelenggaraan pendidikan berdasar pada tiga pilar, yakni: humanisasi, liberasi, dan transedensi, dan menggunakan pola pendidikan transformatif. <br></li>
            <li>Menyelenggarakan pendidikan bahasa dan sastra Indonesia yang berlandaskan <strong>linguistik sistemik fungsional.</strong> Teori ini berpandangan bahwa pengkajian bahasa dilakukan dengan memperhatikan fungsi bahasa, konteks sosial, dan konteks budaya. <br></li>
            <li>Menyelenggarakan pendidikan bahasa dan sastra Indonesia yang berlandaskan <strong>estetika sastra,</strong> yakni bahwa sastra merupakan karya seni bermediumkan bahasa yang memiliki bentuk atau struktur yang indah dengan gaya bahasa yang menarik dan menyingkapkan nilai-nilai kehidupan yang sangat berguna. <br></li>
            <li><strong>Menghasilkan lulusan yang memiliki kecakapan hidup abad 21,</strong> yakni pelaksanaan pendidikan yang diarahkan untuk menghasilkan alumni yang memiliki keterampilan berpikir kreatif, berpikir kritis dan pemecahan masalah, berkomunikasi, serta berkolaborasi.</li>
        </ol>
    </p>
</div>

{% endblock %}