@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Montserrat:ital,wght@0,100..900;1,100..900&family=TikTok+Sans:opsz,wght@12..36,300..900&display=swap');

.page-header {
    background-color: #002e8a;
    margin-top: 0;
    margin-bottom: 0;
    padding: 15px 20px 20px 20px;
}

.page-header h1,
.page-header h1 a,
.page-header h1 a:visited,
.page-header h1 a:active {
    color: #ffffff;
    font-size: 18pt;
    text-decoration: none;
    line-height: 0.9;
    padding-top: 5px;
}

.header-prodi {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo-ums {
    width: 80px;
    height: auto;
}

h1,
h2,
h3,
h4 {
    font-family: "TikTok Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-variation-settings:
      "slnt" 0,
      "wdth" 100;
}

.latin {
    font-family: 'Lobster', cursive;
    font-size: 12pt;
    font-weight: 400;
}

.home {
    margin: 0;
    position: relative;
}

.home img {
    width: 100%;
    height: auto;
    display: block;
}

.overlay {
    position: absolute;
    left: 80px;
    color: white;
    padding: 20px 20px 10px;
    max-width: 500px;
    font-weight: bold;
    font-size: 25px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.2);
}

.top {
    top: 265px;
    background-color: #f5b700;
    color: black;
    line-height: 1.2;
}

.bottom {
    top: 375px;
    background-color: rgba(36, 44, 139, 0.9);
    line-height: 1.1;
}

/* ABOUT SECTION */
.about-section {
    padding: 70px 70px 70px 85px;
    background-color: #ffffff;
}

.about-container {
    max-width: 1200px;
    margin: 100px 0 20px;
    display: grid;
    grid-template-columns: 1.1fr 1fr;
    gap: 50px;
    align-items: center;
}

.about-subtitle {
    font-size: 20px;
    color: #555;
    margin-bottom: 2px;
}

.about-title {
    font-size: 30px;
    font-weight: bold;
    line-height: 1.1;
    margin-bottom: 10px;
}

.about-description {
    font-size: 17px;
    line-height: 1.4;
    color: #333;
    margin-bottom: 20px;
    padding-right: 30px;
}

/* BUTTON */
.btn-about {
    display: inline-block;
    padding: 12px 25px;
    font-size: 13px;
    border: 1px solid #000;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: all 0.3s ease;
}

.btn-about:hover {
    background-color: #000;
    color: #fff;
}

/* VIDEO */
.video-wrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
    overflow: hidden;
}

.video-wrapper iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* PAGE BERITA */
.berita-section {
    padding: 80px 70px 20px 75px;
}

.berita-title h1 {
    position: relative;
    display: inline-block;
    padding-bottom: 10px;
    font-size: 25px;
    font-weight: bold;
    line-height: 1.1;
}

.berita-title h1::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 150px;
    height: 3px;
    background-color: #1b222f;
}

.date {
    color: #828282;
}

.save {
    float: right;
}

.post-form textarea,
.post-form input {
    width: 100%;
}

.top-menu {
    margin-right: 20px;
}

.icon-btn {
    font-size: 20px;
    color: #ffffff;
    margin-left: 12px;
    text-decoration: none;
    transition: color 0.3s ease;
}

.icon-btn:hover {
    color: #f5b700;
}

.post {
    margin-bottom: 70px;
}

.post h2 a,
.post h2 a:visited {
    color: #000000;
}

.post > .date,
.post > .actions {
    float: right;
}

.btn-secondary,
.btn-secondary:visited {
    color: #C25100;
    background: none;
    border-color: #C25100;
    margin-left: 15px;
}

.btn-secondary:hover {
    color: #FFFFFF;
    background-color: #C25100;
}

/* FOOTER */
.footer-ums {
    background: #002e8a;
    color: #ffffff;
    padding: 60px 80px;
    display: inline-flexbox;
}

.container-footer-grid {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 40px;
}

/* BRAND */
.footer-brand img {
    width: 350px;
    height: auto;
    padding: 40px 0;
}

/* KOLOM */
.footer-col h4 {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 20px;
}

.footer-col ul {
    list-style: none;
    padding: 0;
}

.footer-col ul li {
    margin-bottom: 10px;
}

.footer-col ul li a {
    color: #ffffff;
    text-decoration: none;
    font-size: 16px;
}

.footer-col ul li a:hover {
    text-decoration: underline;
}

/* ALAMAT */
.footer-col p {
    font-size: 15px;
    line-height: 1.6;
    margin-bottom: 12px;
}

/* SOSIAL MEDIA */
.footer-social {
    margin-top: 20px;
}

.footer-social a {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 42px;
    height: 42px;
    background: #ffffff;
    color: #353773;
    border-radius: 50%;
    margin-right: 10px;
    font-size: 20px;
    text-decoration: none;
}

.footer-social a:hover {
    background: #f0f0f0;
}